.category
{
    position: relative;
    background-color: rgb(232, 236, 207);
    width: 220px;
    height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 60px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 4px 4px rgb(169, 167, 164);
}

.category .addBrand
{
    position: absolute;
    top:7px;
}
.category .addBrand button
{
    border: none;
    outline: none;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(87, 83, 86);
    /* background-color: rgb(171, 218, 102); */
    color: rgb(255, 255, 255);
    font-size: 13px;
    cursor: pointer;
}

.category .catCancel
{
    position: absolute;
    right: 10px;
    top: 7px;
    color: white;
    background-color: rgb(221, 46, 46);
    width: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.category .selectCat
{
    margin-top: 40px;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    outline: none;
    border: none;
    background-color: rgb(52, 98, 117);
    color: white;
    font-size: 13.5px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
 }

.category .selectedOptionInputBox
{
    margin-top: 10px;
    width: 95%;
    height: 25px;
    border: 2px solid rgb(103, 103, 199);
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
}

.category .selectedOptionInputBox.brand
{
    border: 2px solid rgb(60, 174, 164);
}


