.home 
{
    width: 95%;
}

.home .topContentHome
{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    padding-left: 10px;
    padding-top: 2px;
}

.home .topContentHome .dateWiseList
{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.home .topContentHome .dateWiseList span
{
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.home .topContentHome .dateWiseList .dateActive
{
    border-bottom: 4px solid rgb(86, 84, 84);
    font-style: oblique;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20%;
    transition: 0.3s;
}

.home .topContentHome .filterOptions
{
    position: absolute;
    right: 70px;
    display: flex;
    width: 110px;
    padding-right: 10px;
    color: rgb(0, 0, 0);
    justify-content: space-between;
}
.home .topContentHome .filterOptions span{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.home .topContentHome .filterOptions .filter
{
    display: flex;
}

.home .topContentHome .filterOptions .filter .arrow
{
    margin-top: 3px;
    color: brown;
    font-size: 20px;
    transition: 0.5s;
}
.home .topContentHome .filterOptions .filter .arrow.arrowActive
{
    transform: translateY(0px) rotate(180deg);
    transition: 0.5s;
}

.home .rectDetailsCardHome
 
{
    display: flex;
    justify-content: center;
    min-width: 200px;
    margin-left: 40px;
    margin-top: 20px;
}

.home .rectDetailsCard
{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
}

@media (max-width: 550px) 
{
    .home .topContentHome .dateWiseList span:nth-child(2),
    .home .topContentHome .dateWiseList span:nth-child(3)
    {
        display : none;
    }

    .home .topContentHome .filterOptions
    {
        right: 50px;
    }
}