.rect
{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px rgb(138, 137, 137);
    width: 220px;
    height: 80px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.rect .rectLogo
{
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.rect .details
{
    margin-left: -20px;
    color: black;
}

.rect .details .price
{
    font-weight: bold;
    font-size: large;
}

.rect .details .name
{
    margin-top: -20px;
    font-size: 12px;
}