.sideBar
{
    position: fixed;
    margin-top: 100px;
    width: 250px;
    height: 570px;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-left: 20px;
    z-index: 999;
    background-color: #000000;
    overflow: hidden;
}

.sideBar p
{
    cursor: pointer;
    padding-left: 30px;
    border-radius: 10px 0 0 10px;
}
.sideBar .active
{
    background-color: white;
    color: #000;
    width: 100%;
    height: 25px;
    padding-top: 5px;
    position: relative;
}

.sideBar .active::after
{
    content: '';
    position: absolute;
    top: -10px;
    left: 240px;
    width: 50px;
    height: 50px;
    border-radius: 50% 0 0 50%;
    z-index: -1;
    background-color: rgb(255, 255, 255);
}

@media (max-width: 900px) 
{
    .sideBar
    {
        margin-top: 80px;
        left: -900px;
        transition: left 0.5s ease-in-out;
    }
    .sideBar.show
    {
        left: 0px;
    }
    .sideBar .active::after
    {
        display: none;
    }
    .sideBar .active
    {
        width: 88%;
    }
}

@media (max-width: 770px)
{
    .sideBar
    {
        margin-top: 129px;
    }
}
