.App {
  width: 100%;
  overflow: hidden;
}

.bodyContent
{
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  top: 89px;
  bottom: 10px;
  left: 270px;
  height: auto;
  overflow-y: auto;
  width: calc(100% - 21%);
  border-radius: 5% 5% 5% 5%;
  padding: 10px;
}


.bodyContent.show
{
    opacity: 0.75;
}

@media (max-width: 1300px) 
{
    .bodyContent
    {
        width: calc(100% - 28%);
    }
}

@media (max-width: 1120px) 
{
    .bodyContent
    {
        width: calc(100% - 32%);
    }
}

@media (max-width: 950px) 
{
    .bodyContent
    {
        width: calc(100% - 37%);
    }
}

@media (max-width: 900px) 
{
    .bodyContent
    {
        left: 10px;
        width: calc(100% - 5%);
    }
}

@media (max-width: 770px) 
{
  .bodyContent
  {
    top : 130px;
    border-radius: 10%;
    display: block;
    width: calc(100% - 12%);
  }
}
